@media screen and (min-width: 480px) and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
    color: $white-color;
  }
}
.ection__advantage {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    display: flex;
    flex-wrap: wrap;
  }
}
.section__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    display: flex;
    flex-wrap: wrap;
    width: 354px;
    height: 251px;
  }
}

.details {
  padding: 25px 190px 25px 190px;
  width: 100%;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    display: flex;
    padding: 25px 142px 25px 142px;
  }
}
.section__heading {
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $title-text-color;
}
.section__text {
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $primary-text-color;
}
