.site-nav,
.auth-nav {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    display: none;
  }
}
.page-header {
  position: relative;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  align-items: center;
  justify-content: space-between;
  background-color: $white-color;
  .header__logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: $title-text-color;
  }
  .header__accent {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: $accent-color;
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}
