.menu-open {
  border: unset;
  background-color: unset;
  font-size: 20px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.container-menu {
  position: fixed;
  background-color: $white-color;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: 48px;
  padding-bottom: 48px;
  z-index: 999;
  .container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &.is-hidden {
    opacity: 0;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.container-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-close {
  position: absolute;
  right: 15px;
  top: -40px;
  border: none;
  background-color: unset;
  font-size: 20px;
  z-index: 999;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-nav__cell {
  &:not(:last-child) {
    margin-bottom: 32px;
    &:hover {
      color: $accent-color;
    }
  }
  .menu-nav__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $title-text-color;
    .current {
      color: $accent-color;
    }
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.nav-menu {
  margin-bottom: 64px;
  .nav-menu__call {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
.nav-menu__number {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $accent-color;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.nav-menu__post {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $primary-text-color;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mesh-menu {
  display: flex;
  .mesh-menu__toils {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $accent-color;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mesh-menu__net:not(:first-child) {
  margin-left: 10px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mesh-menu__toils {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-open__icon-on :hover {
  fill: $accent-color;
}
