.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}
.icon-cross {
  position: absolute;
}
.menu-button .page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}
.menu-container {
  position: fixed;
  background-color: $white-color;
  text-align: center;
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    &.is-open {
      display: block;
    }
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}

.menu-nav {
  padding-top: 48px;
  text-align: left;
  @media screen and (min-width: 768px) {
    display: none;
  }
  &__cell:not(:last-child) {
    margin-bottom: 32px;
  }
  &__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $title-text-color;
  }
  .menu-nav__link:hover,
  .menu-nav__link:focus {
    color: $accent-color;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
.nav-menu {
  text-align: left;
  margin-bottom: 64px;
  &__call {
    margin-bottom: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: $accent-color;
  }
  &__info {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: $primary-text-color;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mesh-menu {
  margin-top: auto;
  padding-bottom: 48px;
  display: flex;
  .mesh-menu__toils {
    margin-right: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $accent-color;

    border-right: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.underarm {
  justify-content: space-between;
}
