.portfolio-picture {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: -30px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: -30px;
  }
}
.picture {
  z-index: 100;
  margin-bottom: -30px;
  width: 100%;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
  }
}

.picture__item {
  width: 450px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
    margin-right: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 90px);
    margin-bottom: 30px;
    margin-right: 30px;
    width: 370px;
  }
}

.picture__item:hover,
.picture__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* анимация */
.picture__card {
  display: block;
  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-text {
  overflow: hidden;
  position: relative;
  @media screen and (min-width: 1200px) {
    min-width: 322px;
  }
}
.card-overlay {
  top: 0;
  left: 0;
  position: absolute;

  width: 101%;
  height: 101%;

  transform: translateY(101%);

  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
.picture__item .picture__card:hover .card-overlay,
.picture__item .picture__card:focus .card-overlay {
  transform: translateY(0);
}
.card-overlay__inscription {
  position: absolute;
  padding: 63px 24px;

  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: $white-color;
  text-decoration: none;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* текст под картинками */
.card-content {
  width: 450px;
  padding: 20px 24px 20px 24px;
  text-decoration: none;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
  }
}
.picture__item:nth-child(3n) {
  @media screen and (min-width: 1200px) {
    margin-left: 0;
  }
}
.card-content__text {
  font-family: Roboto;
  font-weight: 700;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: $title-text-color;
  @media screen and (min-width: 1200px) {
    width: 322px;
  }
}
.card-content__title {
  margin-top: 0;
  color: $primary-text-color;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-decoration: none;
  @media screen and (min-width: 1200px) {
    width: 322px;
  }
}
