$logo-color: #000000;
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$white-color: #ffffff;
$bagraund-color: #2f303a;

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
